{% extends 'base.html' %}

{% block scripts %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.dataTables.min.css') }}">
  <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
  <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
  <script type="text/javascript" class="init">
var table;
$(document).ready(function() {
	table = $('#example').DataTable();
	$('#example').on( 'search.dt', function () {
       var search = table.search();
       $.get( "/search/" + search );
    });
  {% if lastsearch %}
	table.search('{{ lastsearch }}').draw();
  {% endif %}
});
  </script>
{% endblock %}

{% block header %}
  <h1>{% block title %}Parts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('parts.add') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <table id="example" class="display" style="width:100%">
  <thead>
  <tr><th>Actions</th><th>Type</th><th>Class</th><th>Description</th><th>Quantity</th><th>Manufacturer</th><th>PartNum</th>
    <th>Cost</th><th>Location</th><th>Datasheet</th><th>Notes</th></tr>
  </thead>
  <tbody>
  {% for part in parts %}
    <tr>
	  <td><a href="{{ url_for('parts.update', id=part['id']) }}"><img src="/images/edit24.png"></a></td>
      <td>{{ part['type'] }}</td>
      <td>{{ get_class_string(str_type(part['class'])) }}</td>
      <td>{{ part['description'] }}</td>
      <td>{{ part['qty'] }}</td>
      <td>{{ part['manuf'] }}</td>
      <td>{{ part['partnum'] }}</td>
      <td>{{ part['cost'] }}</td>
      <td>{{ part['location'] }}</td>
      {% if part['url'] != "" %}
        <td><a href={{ part['url'] }} target="_blank">link</a></td>
      {% else %}
        <td></td>
      {% endif %}
      <td>{{ part['notes'] }}</td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
{% endblock %}
