{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Parts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('parts.add') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <br>
  <a class="action" href="{{ url_for('parts.add')  }}">New Part</a>
  <br>
  <a class="action" href="{{ url_for('parts.browse', search='')  }}">Browse or Search Parts</a>
  <br>
  <br>
  <div><b>Summary</b></div>
  <div>{{ summary['total_num'] }} total parts in the database</div>
  <div>${{ summary['total_value'] }} total value in the database</div>
{% endblock %}
