{% extends 'base.html' %}

{% block scripts %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" class="init">
$(document).ready(function() {
	$('#example').DataTable();
} );
  </script>
{% endblock %}

{% block header %}
  <h1>{% block title %}Parts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('parts.add') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <table id="example" class="display" style="width:100%">
  <thead>
  <tr><th>Type</th><th>Class</th><th>Description</th><th>Quantity</th><th>Manufacturer</th><th>PartNum</th>
    <th>Cost</th><th>Location</th><th>Datasheet</th><th>Notes</th></tr>
  </thead>
  <tbody>
  {% for part in parts %}
    <tr>
      <td>{{ part['type'] }}</td>
      <td>{{ get_class_string(str_type(part['class'])) }}</td>
      <td>{{ part['description'] }}</td>
      <td>{{ part['qty'] }}</td>
      <td>{{ part['manuf'] }}</td>
      <td>{{ part['partnum'] }}</td>
      <td>{{ part['cost'] }}</td>
      <td>{{ part['location'] }}</td>
      {% if part['url'] != "" %}
        <td><a href={{ part['url'] }}>link</a></td>
      {% else %}
        <td></td>
      {% endif %}
      <td>{{ part['notes'] }}</td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
{% endblock %}
