{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Parts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('parts.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <table>
  <tr><th>Type</th><th>Class</th><th>Description</th><th>Quantity</th><th>Manufacturer</th><th>PartNum</th>
    <th>Cost</th><th>Location</th><th>URL</th><th>Notes</th></tr>
  {% for part in parts %}
    <tr>
      <td>{{ part['type'] }}</td>
      <td>{{ part['class'] }}</td>
      <td>{{ part['description'] }}</td>
      <td>{{ part['qty'] }}</td>
      <td>{{ part['manuf'] }}</td>
      <td>{{ part['partnum'] }}</td>
      <td>{{ part['cost'] }}</td>
      <td>{{ part['location'] }}</td>
      <td>{{ part['url'] }}</td>
      <td>{{ part['notes'] }}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
